<div class="selector-container">
    <div *ngIf="show_short_form" class="short-form" [class]="short_form_classes" >
        <div class="icon-div">
            <img class="selector-icon" src="assets\images\AU_TRANS_WHITE.svg"/>
        </div>
        <div class="program-title-div">
            <div class="title-div">
                <div class="mat-title program-title">{{session.programs[session.config.selected_program].name}}</div>
            </div>
            <div class="program-version-selector">
                <button style="float: left;" mat-icon-button class="program-version-selector-btn btn-left" (click)="session.versionChange('left')">
                    <mat-icon>chevron_left</mat-icon>
                </button>
                <div style="float: left;" class="mat-caption program-version-text">
                    {{ session.programs[session.config.selected_program].versions[session.config.selected_program_version] }}
                </div>
                <button style="float: left;" mat-icon-button class="program-version-selector-btn btn-left" (click)="session.versionChange('right')">
                    <mat-icon>chevron_right</mat-icon>
                </button>
            </div>
        </div>
        <div class="program-desc-div">
            <div class="description-div">
                <div class="program-description" [innerHtml]="session.programs[session.config.selected_program].description"></div>
            </div>
            <div class="more-info-div"><div class="more-info" (click)="session.clickedMoreInfo()">More Info</div></div>
        </div>
        
    </div>

    <div *ngIf="show_long_form" class="long-form" [class]="long_form_classes" >
        <div *ngFor="let program of session.programs; index as i" class="long-form-entry-root">
            <div class="long-form-entry" (click)="programSelected(i)">
                <div class="lf-icon-div">
                    <img class="lf-selector-icon" src="assets\images\AU_TRANS_WHITE.svg"/>
                </div>
                <div class="lf-program-text-div">
                    <div class="mat-title lf-program-title">{{program.name}}</div>
                </div>
            </div>
            <mat-divider ></mat-divider>
        </div>
    </div>
</div>
