<div class="root-container mat-app-background">
  <div class="top-menu">
    <div class="drag-bar"></div>
    <div id="btn-min" (click)="minimise()" class="minimise btn"></div>
    <div id="btn-close" (click)="close()" class="close btn"></div>
  </div>
  <div class="main-container">
    <div class="header">
      <img class="header-img" src="assets\images\NEW_LOGO_FULL_WHITE.svg" />
      <div class="header-text-div">
        <div style="font-size: 16px" class="mat-headline header-text">Alpha</div>
        <div style="font-size: 24px" class="mat-body header-text">Upload</div>
      </div>
    </div>
    <div class="left" [class]="expand ? 'long' : 'short'">
      <app-firmware-selector class="firmware-selector" [expand]="expand_obsvble" (SelectedEvent)="firmwareSelected()"></app-firmware-selector>
      <div class="left-expand-btn" [class]="expand ? 'left-expand-btn-move-down' : 'left-expand-btn-move-up'" (click)="expandFirmwareSelector()"><mat-icon>expand_more</mat-icon></div>
    </div>
    <div class="right" *ngIf="session.isLoaded">
      <div class="form-titles">
        <div class="mat-body-1 form-title">COM Port</div>
        <div class="mat-body-1 form-title">Microcontroller Board</div>
        <div class="mat-body-1 form-title">Processor</div>
      </div>
      <form #session.configform="ngForm" class="form">
        <mat-form-field class="form-1 form-select">
          <mat-select name="port" [(ngModel)]="session.config.port" [disabled]="session.com_ports.length === 0">
            <mat-option *ngFor="let port of session.com_ports" [value]="port.port">
              {{port.port}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-2 form-select">
          <mat-select name="microcontroller" [(ngModel)]="session.config.microcontroller" [disabled]="session.com_ports.length === 0">
            <mat-option *ngFor="let board of session.firmware[session.config.selected_firmware].repo.getBoards()" [value]="board">
              {{getPrettyName(board)}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="form-3 form-select">
          <mat-select name="processor" [(ngModel)]="session.config.processor" [disabled]="!checkProcessorOptionAvailable() || session.com_ports.length === 0">
            <mat-option *ngFor="let processor of getProcessorsList()" [value]="processor">
              {{processor}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </form>
      <div class="buttons-div">
        <div class="btn-div try-all-div">
          <div matTooltip="Automatically try all ports, microcontroller, and processor options until one works." matTooltipPosition="right" class="mat-caption btn-caption">Don't know?</div>
          <button mat-stroked-button class="button try-all-button" (click)="tryAll()" [disabled]="session.com_ports.length < 1"><mat-icon>refresh</mat-icon> Try All</button>
        </div>
        <div class="btn-div upload-div">
          <button mat-flat-button color="accent" class="button upload-button" (click)="upload()" [disabled]="session.com_ports.length < 1"><mat-icon>upload</mat-icon> Upload</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mat-caption version-caption">V{{version}}</div>
</div>